<div class="row">
  <div class="span4">&nbsp;</div>
  <div class="span8">
    <br/><br/>
    <h3>Thank You</h3>
    <br/>
    <div class="alert-message">
      You will receive an email within the next few minutes.
      It contains instructions for changing your password.
    </div>
  </div>
  <div class="span4">&nbsp;</div>
</div>
