<div class="row">
  <div class="span3">&nbsp;</div>
  <div class="span9">
    <br/><br/>
    <%= form_for(:user,
                 :url  => user_password_path(@user, :token => @user.confirmation_token),
                 :builder => BootstrapFormBuilder,
                 :html => { :method => :put }) do |form| %>
      <%= form.section "Change your password", "You may now reset your password. Choose a new password." do %>
        <%= form.password_field :password %>
        <%= form.submit "Save this password" %>
      <% end %>
    <% end %>
  </div>
  <div class="span4">&nbsp;</div>
</div>
