/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
*/

.page
{
  margin-top: 40px;
}

h3
{
  font-size: 19.5px;
  color: #404040;
  font-weight: normal;
  line-height: 1;
}

ul.sign_in
{
  padding-top: 18px;
}

ul.sign_in li
{
  line-height: 28px;
  margin-bottom: 18px;
  font-size: 15px;
}
